<packages>
  <package id="Microsoft.ApplicationInsights.AspNetCore" version="2.14.0" />
  <package id="Microsoft.AspNetCore.Identity" version="2.2.0" />
  <package id="Microsoft.Build" version="16.5.0" />
  <package id="Microsoft.EntityFrameworkCore.Proxies" version="6.0.0" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="6.0.0" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="6.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.ApplicationInsights" version="2.14.0" />
  <package id="Microsoft.Extensions.Logging.Debug" version="3.1.4" />
  <package id="Microsoft.FeatureManagement.AspNetCore" version="2.5.1" />
  <package id="Microsoft.VisualStudio.Web.CodeGeneration.Design" version="3.1.5" />
  <package id="MSBuild.SonarQube.Runner.Tool" version="4.8.0" />
  <package id="Serilog" version="2.9.0" />
  <package id="Serilog.AspNetCore" version="3.2.0" />
  <package id="Serilog.Exceptions" version="5.5.0" />
  <package id="Serilog.Sinks.File" version="4.1.0" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" />
  <package id="Serilog.Sinks.RollingFile.Extension" version="2.0.2" />
  <package id="SonarAnalyzer.CSharp" version="8.56.0.67649" />
  <package id="WebCompiler" version="1.0.1" />
  <package id="WindowsAzure.Storage" version="9.3.3" />
  <package id="Microsoft.Azure.Functions.Extensions" version="1.1.0" />
  <package id="Microsoft.Azure.WebJobs.Extensions.DurableTask" version="2.9.3" />
  <package id="Microsoft.Azure.WebJobs.Extensions.ServiceBus" version="5.12.0" />
  <package id="Microsoft.Azure.WebJobs.Extensions.Storage" version="5.2.1" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="3.1.5" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="3.1.5" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.5" />
  <package id="Microsoft.NET.Sdk.Functions" version="4.1.1" />
  <package id="CsvHelper" version="30.0.1" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="7.0.5" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.17" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.2.3" />
  <package id="SonarAnalyzer.CSharp" version="8.56.0.67649" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" />
  <package id="Azure.Storage.Blobs" version="12.16.0" />
  <package id="DocumentFormat.OpenXml" version="2.20.0" />
  <package id="Microsoft.Azure.Cosmos" version="3.41.0" />
  <package id="Microsoft.Azure.Storage.Common" version="11.2.3" />
  <package id="Microsoft.Data.SqlClient" version="5.1.1" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.5" />
  <package id="MSBuild.SonarQube.Runner.Tool" version="4.8.0" />
  <package id="GemBox.Spreadsheet" version="49.0.1335" />
  <package id="Microsoft.ApplicationInsights.AspNetCore" version="2.14.0" />
  <package id="Microsoft.AspNetCore.Authentication.Cookies" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" />
  <package id="Microsoft.AspNetCore.Mvc.Razor" version="2.2.0" />
  <package id="SendGrid" version="9.28.1" />
  <package id="Microsoft.AspNetCore.SpaServices" version="3.1.0" />
  <package id="Microsoft.AspNetCore.SpaServices.Extensions" version="6.0.1" />
  <package id="Microsoft.EntityFrameworkCore" version="6.0.0" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="6.0.0" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="6.0.0" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="Devlooped.CloudStorageAccount" version="1.1.0" />
  <package id="System.Data.SqlClient" version="4.8.5" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" />
  <package id="Open-XML-SDK" version="2.9.1" />
  <package id="AutoMapper" version="12.0.1" />
  <package id="AutoMapper.Extensions.Microsoft.DependencyInjection" version="6.0.0" />
  <package id="BundlerMinifier.Core" version="3.2.449" />
  <package id="Microsoft.AspNetCore.Authentication.JwtBearer" version="3.1.28" />
  <package id="Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation" version="3.1.28" />
  <package id="Microsoft.Build" version="17.3.1" />
  <package id="Microsoft.Build.Framework" version="17.3.1" />
  <package id="Microsoft.Build.Utilities.Core" version="17.2.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Identity.Core" version="6.0.8" />
  <package id="Microsoft.Extensions.Logging.ApplicationInsights" version="2.21.0" />
  <package id="Microsoft.Extensions.Logging.Debug" version="6.0.0" />
  <package id="Serilog" version="2.11.0" />
  <package id="Serilog.AspNetCore" version="6.0.1" />
  <package id="Serilog.Exceptions" version="8.4.0" />
  <package id="Serilog.Sinks.ApplicationInsights" version="4.0.0" />
  <package id="Serilog.Sinks.File" version="5.0.0" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" />
  <package id="Serilog.Sinks.RollingFile.Extension" version="2.0.2" />
  <package id="SonarAnalyzer.CSharp" version="8.44.0.52574" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="2.2.5" />
  <package id="Azure.Storage.Blobs" version="12.13.1" />
  <package id="Azure.Storage.Common" version="12.12.0" />
  <package id="Microsoft.Data.SqlClient" version="5.0.0" />
</packages>
