SendGrid==9.28.1
Azure.Storage.Blobs==12.16.0
Microsoft.Data.SqlClient==5.1.1
Microsoft.EntityFrameworkCore==6.0.0
Microsoft.ApplicationInsights.AspNetCore==2.14.0
AutoMapper==12.0.1
Newtonsoft.Json==13.0.3
